<div
    class="pt-50 pb-50"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()">



    <div class="breadcrumb-card mb-25 d-md-flex align-items-cEntrer justify-content-space-between">
        <h5 class="mb-0">Personnels</h5>
        <ol class="breadcrumb mb-0 ps-0">
            <li class="breadcrumb-item">
                <a routerLink="/">
                    <i class="ri-home-8-line"></i>
                    Personnels
                </a>
            </li>
            <li class="breadcrumb-item gray-color">users</li>
            <li class="breadcrumb-item fw-semibold">Add</li>
        </ol>
    </div>

    <mat-card class="mb-25 tagus-card">
        <mat-card-header class="border-bottom">
            <h5 class="mb-0">Nouveau personnel</h5>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="identiteFormGroup" (ngSubmit)="onSubmitIdentite()">
                <div class="row"> 
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Nom</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-user-3-line"></i>
                                <mat-label>Entrer nom</mat-label>
                                <input matInput formControlName="nom" required="Champs obligatoire">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Postnom</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-user-3-line"></i>
                                <mat-label>Entrer postnom</mat-label>
                                <input matInput formControlName="postnom" required="Champs obligatoire">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Prenom</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-user-3-line"></i>
                                <mat-label>Entrer prenom</mat-label>
                                <input matInput formControlName="prenom" required="Champs obligatoire">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Sexe</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-women-line"></i>
                                <mat-label>Sexe</mat-label>
                                <mat-select formControlName="sexe" required="Champs obligatoire">
                                    <mat-option *ngFor="let sexe of sexes" [value]="sexe.value">
                                        {{sexe.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Date naissance</label>
                            <mat-form-field appearance="fill" class="date-input">
                                <mat-label>MM/DD/YYYY</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="date_naissance" required="Champs obligatoire">
                                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Lieu naissance</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-map-2-line"></i>
                                <mat-label>Entrer lieu naissance</mat-label>
                                <input matInput formControlName="lieu_naissance" required="Champs obligatoire">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Nationalite</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-road-map-line"></i>
                                <mat-label>Entrer Nationalite</mat-label>
                                <mat-select formControlName="nationalite" required="Champs obligatoire">
                                    <mat-option *ngFor="let countrie of countries" [value]="countrie.code">
                                        {{countrie.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Email <span>*</span></label>
                            <mat-form-field appearance="fill">
                                <i class="ri-mail-line"></i>
                                <mat-label>Entrer email</mat-label>
                                <input matInput type="email" formControlName="email" required="Champs obligatoire">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Téléphone</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-phone-line"></i>
                                <mat-label>Entrer phone number</mat-label>
                                <input matInput type="tel" formControlName="telephone" required="Champs obligatoire">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tagus-form-group">
                            <mat-form-field appearance="fill">
                                <i class="ri-user-heart-line"></i>
                                <mat-label>Etat civil</mat-label>
                                <mat-select formControlName="etat_civile" required="Champs obligatoire">
                                    <mat-option value="CELIBATAIRE">Célibataire</mat-option>
                                    <mat-option value="MARIE(E)">Marié</mat-option> 
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Nombre enfants</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-team-line"></i>
                                <mat-label>Entrer Nombre enfants</mat-label>
                                <input matInput type="number" formControlName="nbr_enfant" required="Champs obligatoire">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Nombre dependants <span>*</span></label>
                            <mat-form-field appearance="fill">
                                <i class="ri-mickey-line"></i>
                                <mat-label>Entrer Nombre dependants</mat-label>
                                <input matInput type="number" formControlName="nbr_dependants" required="Champs obligatoire">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Nombre dependants max</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-mickey-fill"></i>
                                <mat-label>Entrer Nombre dependants max</mat-label>
                                <input matInput type="number" formControlName="nbr_dependants_max" required="Champs obligatoire">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="tagus-form-group">
                            <label class="d-block mb-12 fw-semibold gray-color">Adresse</label>
                            <mat-form-field appearance="fill">
                                <i class="ri-map-pin-line"></i>
                                <mat-label>Entrer adresse</mat-label>
                                <input matInput formControlName="adresse" required="Champs obligatoire">
                            </mat-form-field>
                        </div>
                    </div> 

                </div>
                <div>
                    <button mat-flat-button class="tagus" matStepperSuivant [disabled]="!identiteFormGroup.valid">Suivant</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>


    
